// color palette - these colors will be the color swatches of the Colors section
/* -------------------------------- 
Variables Colors 
-------------------------------- */

$color-1: #1d3557; // Strong blue
$color-2: #d52941; // Red
$color-3: #fefce0; // Yellow 
$color-4: #457b9d; // Soft blue
$color-5: #ffffff; // White
$color-6: #a8dadc; // Soft green
$color-7: #f1faee; // Water green
$color-8: #c9f1fd; // Sky blue
$color-9: #f28be3af; // Strong blue
$color-10: rgba(19, 17, 17, 0.829);

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red
