// breakpoints
   
$S:     768px;   
$M:     1024px;     
$L:     1600px;   

// Grid variables
$grid-column: repeat(10, 1fr);
$grid-row: repeat(7, 1fr);

//Grid side sidebar
$grid-column-sidebar: repeat(3, 1fr);
$grid-row-sidebar: repeat(3, 1fr);

//boxes
$padding-1: 20px 20px 20px 20px;
$padding-2: 50px 30px 50px 80px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

// super light grid - it works with the .cd-container class inside style.scss

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}

